.player-graphic {
  animation: bob 2s infinite;
  -webkit-user-drag: none;
}

.poke-right {
  animation: poke-right 1s 1;
}

.poke-left {
  animation: poke-left 1s 1;
}

.monster-graphic {
  -webkit-user-drag: none;
}

.mob-fast {
  animation: bob 1s infinite;
}

.monster-flail {
  animation: flail-right 0.5s 1;
  transform-origin: bottom;
}

@keyframes bob {
  0% {
    transform: translate(0)
    
  }

  50% {
    transform: translateY(-2px)
  }
  100% {
    transform: translate(0)
  }
}

@keyframes poke-right {
  0% {
  }
  30% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(-5px);
  }
}

@keyframes poke-left {
  0% {
  }
  30% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}

@keyframes flail-right {
  0% {

  }
  50% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(0);
  }
}