body {
  background-color: #13101a;
  margin: 0px;
  cursor: url('/res/common/cursor.png') 5 0, auto;
}

.c {
  border: solid 1px red;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic; 
}

.draggable {
  touch-action: none;
  user-select: none;
}

.armoury-background {
  width: 720px;
  height: 632px;
  z-index: 1;
  position: absolute;
  pointer-events: none;
}

.alchemist-background {
  width: 712px;
  height: 632px;
  z-index: 1;
  position: absolute;
  pointer-events: none;
}

.equipment-background {
  width: 870px;
  height: 456px;
  z-index: 1;
  position: absolute;
  pointer-events: none;
}

.armoury-interface {
  /* width: 576px;
  height: 576px; */
  width: 720px;
  height: 632px;
  border-radius: 6px;
  overflow: hidden;
  position: absolute;
  z-index: 20;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  user-select: none;
}

.alchemist-interface {
  width: 712px;
  height: 632px;
  border-radius: 2px;
  overflow: hidden;
  position: absolute;
  z-index: 20;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  user-select: none;
}

.equipment-interface {
  width: 870px;
  height: 456px;
  border-radius: 2px;
  overflow: hidden;
  position: absolute;
  z-index: 20;
  left: 50%;
  transform: translateX(-50%);
  top: 120px;
  user-select: none;
}

.furnace-embers {
  position: absolute;
  width: 375px;
  height: 208px;
  left: 312px;
  z-index: 2;
  filter: drop-shadow(0 0 10px rgb(255, 255, 246));
}

.furnace-flame {
  position: absolute;
  width: 60px;
  height: 70px;
  left: 380px;
  top: 170px;
  z-index: 3;
}

.furnace-glow {
  animation: furnace-glow 2s infinite;
}

.furnace-light {
  position: absolute;
  width: 100px;
  height: 90px;
  left: 360px;
  top: 150px;
  z-index: 4;
  box-shadow: 0 0 90px rgba(255, 217, 0, 0.39);
  filter: drop-shadow(0 0 10px rgb(255, 81, 0));
}

.furnace-lighting {
  animation: furnace-lighting 4s infinite;
}

.armoury-currency {
  position: absolute;
  /* left: 25px;
  top: 247px; */
  left: 25px;
  top: 25px;
  width: 280px;
  z-index: 4;
  display: inline-block;
  /* text-align: center; */
  text-align: start;
}

.alchemist-currency {
  position: absolute;
  /* left: 25px;
  top: 247px; */
  left: 407px;
  top: 25px;
  width: 280px;
  z-index: 4;
  display: inline-block;
  /* text-align: center; */
  text-align: end;
}

.alchemist-bubble {
  position: absolute;
  width: 100px;
  height: 118px;
  left: 239px;
  z-index: 2;
  filter: drop-shadow(0 0 10px #ffee00);
}

.alchemist-cauldron {
  position: absolute;
  width: 80px;
  height: 16px;
  left: 248px;
  top: 176px;
  z-index: 3;
  animation: cauldron-lighting 10s infinite ease-out;
}

.alchemist-light {
  position: absolute;
  width: 80px;
  height: 16px;
  left: 248px;
  top: 176px;
  z-index: 4;
  box-shadow: 0 0 90px rgb(234, 0, 255);
}


.alchemist-cauldron-lighting {
  position: relative;
  left: 240px;
  top: 120px;
  height: 72px;
  width: 96px;
  z-index: 5;
  animation: alchemist-lighting 4s infinite;
}

.alchemist-desk {
  position: absolute;
  top: 90px;
  width: 100px;
  z-index: 3;
  filter: drop-shadow(0 0 5px #fffc6888);
}

.main-interface {
  width: 1280px;
  height: 720px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  user-select: none; 
}

.main-container {
  position: relative;
  left: 0px;
  transition: all 0.3s ease-in-out;
}

.main-bg {
  position: absolute;
  left: 0px;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.torch-1 {
  width: 30px;
  height: 50px;
  position: absolute;
  /* background-color: rgba(0, 255, 255, 0.527); */
  z-index: 5;
  left: 330px;
  top: 180px;
  transition: all 0.4s ease-in-out;
  /* animation: furnace-glow 1s infinite; */
  z-index: 3;
}

.light-1 {
  width: 600px;
  height: 600px;
  position: absolute;
  left: 45px;
  top: -75px;
  background: radial-gradient(circle, rgba(255, 239, 146, 0.35) 0%, rgba(255, 204, 0, 0.15) 2%, rgba(0, 4, 255, 0.05) 40%, rgba(0,0,0,0) 70%);
  z-index: 2;
}

.center {
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
}

.level-title {
  position: absolute;
  top: 10px;
  font-size: 3em;
  color: rgb(255, 217, 0);
  letter-spacing: 2px;
  
}

.level-desc {
  position: absolute;
  top: 60px;
  font-size: 4em;
  color: rgb(255, 136, 0);
  letter-spacing: 2px;
}

.orange {
  color: #ff8800;
}

.cyan {
  color: #00ccff;
}

.magenta {
  color: #e2177c;
}

.fusia {
  color: #f556ff;
}

.mint {
  color: #00ff93;
}

.colour-damage, .colour-damage-tip {
  background-image: linear-gradient(135deg, rgb(255, 173, 21)	 0%, rgb(236, 77, 143) 100%);
  color:transparent; -webkit-background-clip: text;
  background-clip: text;  
}

.colour-runic, .colour-runic-tip {
  background-image: linear-gradient(to top, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
  color:transparent; -webkit-background-clip: text;
  background-clip: text;  
}

.colour-ac {
  background-image: linear-gradient(to right, #4facfe 0%, #0098fe 100%);
  color:transparent; -webkit-background-clip: text;
  background-clip: text;  
}

.colour-mana {
  background-image: linear-gradient(120deg, #f7be04 0%, #ff8564 100%);
  color:transparent; -webkit-background-clip: text;
  background-clip: text;  
}

.colour-condition {
  color: #fff;
}

.ra-crystals {
  position: relative;
  top: 1px;
  right: 1px;
}

.ra-frost-emblem {
  position: relative;
  top: 1px;
  right: 1px;
}

.controls-interface {
  position: relative;
  top: 460px;
  width: 100%;
  height: 260px;
  font-family: "Upheavtt";
}

.level-enter {
  display: inline-block;
}

.titles {
  position: absolute;
  width: 340px;
  height: 100%;
  left: 470px;
  border: 1px solid cyan;
  z-index: 10;
}

.torches {
  position: absolute;
  width: 100%;
  height: 50px;
  top: 210px;
  border: 1px solid cyan;
  z-index: 10;
}

.hide {
  display: none;
}

.darken {
  filter: brightness(15%);
}

.alchemist-icon {
  position: absolute;
  left: 733px;
  top: 142px;
  background-image: url(../res/icon/alchemy-icon.png);
  width: 64px;
  height: 64px;
}

.armoury-icon {
  position: absolute;
  left: 832px;
  top: 142px;
  background-image: url(../res/icon/armoury-icon.png);
  width: 64px;
  height: 64px;
}

.level-go {
  position: absolute;
  left: 491px;
  top: 146px;
  font-size: 3em;
}

.spell-container {
  display: flex;
  position: absolute;
  z-index: 11;
  width: 360px;
  height: 360px;
  top: 230px;
  left: 328px;
}

.spell {
  width: 40px;
  height: 40px;
  /* border-radius: 4px; */
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  justify-content: space-around;
  font-size: 2em;
  background-color: transparent;
  position: absolute;
}

.spell:active {
  
}

.locked {
  filter: opacity(0.6) grayscale(0.75) brightness(1.2);
}

.spell-basic-attack-colour {
  background-image: linear-gradient(135deg, rgb(255, 173, 21)	 0%, rgb(236, 77, 143) 100%);
  color:transparent; -webkit-background-clip: text;
  background-clip: text; 
}

.spell-0 {
  top: 160px;
  left: 160px;
  user-select: none;
}

.spell-1 {
  top: 80px;
  left: 160px;
}

.spell-2 {
  left: 120px;
}

.spell-3 {
  left: 200px;
}

.spell-4 {
  left: 240px;
  top: 160px;
}

.spell-5 {
  left: 320px;
  top: 120px;
}

.spell-6 {
  left: 320px;
  top: 200px;
}

.spell-7 {
  left: 160px;
  top: 240px;
}

.spell-8 {
  left: 200px;
  top: 320px;
}

.spell-9 {
  left: 120px;
  top: 320px;
}

.spell-10 {
  left: 80px;
  top: 160px;
}

.spell-11 {
  top: 120px;
}

.spell-12 {
  top: 200px;
}

.spell-selected, .item-selected {
  box-shadow: 0px 0px 30px #00ffff80;
  animation: glow 4s infinite;
  z-index: 21;
}

.spell-tree-icon, .item-type-icon {
  width: 48px;
  height: 48px;
  position: relative;
  top: -4px;
}

.item-size {
  height: 48px;
  top: -4px;
  position: relative;
}

/* .spell-selected::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0px;
  top: 0px;
  box-shadow: 0px 0px 30px #00ffff80;
  user-select: none;
  z-index: 13;
} */

.spell-desc, .item-desc {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  top: 230px;
  left: 20px;
  width: 290px;
  z-index: 12;
  font-family: 'Cabin', sans-serif;
}

.item-desc {
  top: 279px;
}

.spell-desc-upper, .item-desc-upper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  justify-items: center;
  font-family: "Upheavtt";
  /* width: 220px; */
  margin-top: 10px;
}

.spell-icon, .item-icon {
  margin-top: 4px;
  margin-left: 0px;
  height: 35px;
  width: 48px;
  height: 48px;
}

.spell-name, .item-name {
  display: flex;
  font-size: 1.55em;
  text-align: center;
  letter-spacing: 1px;
}

.item-name {
  font-family: "Upheavtt";
  padding: 10px;
  color: #cee5ff;
}

.spell-type {
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.25em;
  padding-top: 3px;
  color: #fff;
}

.spell-desc-main, .item-desc-main {
  color: #9bcaff;
  font-family: 'Cabin', sans-serif;
  padding: 15px;
  font-size: 0.9375em;
  text-align: center;
  line-height: 1.5;
}

.spell-desc-info, .item-desc-info {
  color: #9bcaff;
  font-family: 'Cabin', sans-serif;
  font-size: 0.9375em;
  text-align: center;
  line-height: 1.5;
  width: 280px;
}

.spell-desc-subtitle {
  font-family: 'Cabin', sans-serif;
}

.spell-desc-lore, .item-desc-lore {
  color: #9bcaff85;
  font-family: 'Cabin', sans-serif;
  font-style: italic;
  padding: 15px;
  font-size: 0.9375em;
  text-align: center;
}



.fire-spell {
  /* animation: fire-spell 4s infinite; */
}

.dragover {
  box-shadow: inset 0px 0px 15px #00aeffb4;
  transition: all 0.2 ease;
}

.grabbable {
  cursor: grab;
}

.grabbable:active {
  cursor: grabbing;
}
/* 
.grabbable::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0px;
  top: 0px;
  box-shadow: 0px 0px 30px #00ffff80;
  user-select: none;
  z-index: 13;
} */

.mini {
  transition: all 0.2s ease;
  transform: scale(0.75);
}

.spellbook {
  position: absolute;
  /* border: 1px solid green; */
  left: 39px;
  top: 507px;
  width: 252px;
  height: 48px;
  z-index: 12;
}

.slot {
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 4px;
}

.slot-locked {
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 4px;
}

.slot-1 {
  left: 0px;
}

.slot-2 {
  left: 68px;
}

.slot-3 {
  left: 136px;
}

.slot-4 {
  left: 204px;
}

.slot-5 {
  left: 34px;
  top: 54px;
}

.slot-6 {
  left: 102px;
  top: 54px;
}

.slot-7 {
  left: 170px;
  top: 54px;
}

.slot::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  left: 4px;
  top: 4px;
  box-shadow: 0px 0px 15px #00ffff41;
  user-select: none;
  z-index: 13;
}

.ice-spell {
  animation: ice-spell 2s infinite;
}

.ora {
  width: 1.2rem;
  height: 1.2rem;
  position: relative;
  top: 3px;
}

.ora-text {
  font-size: 1.2rem;
  font-family: 'upheavtt', sans-serif;
  letter-spacing: 2px;
  color: #fff;
  padding-left: 5px;
}

.blue-ora {
  filter: drop-shadow(0px 0px 4px #03a8f47c);
}

.orange-ora {
  filter: drop-shadow(0px 0px 4px #fb8a0077);
}

@font-face {
  font-family: "Upheavtt";
  src: url("./upheavtt.ttf");
}

@keyframes furnace-glow {
  0% {
    filter: drop-shadow(0 0 5px rgb(255, 217, 0));
  }
  50% {
    filter: drop-shadow(0 0 15px red);
  }
  100% {
    filter: drop-shadow(0 0 5px rgb(255, 217, 0));
  }
}

@keyframes furnace-lighting {
  0% {
    box-shadow: 0 0 90px rgba(255, 217, 0, 0.30);
  }
  33% {
    box-shadow: 0 0 70px rgba(255, 187, 86, 0.30);
  }
  50% {
    box-shadow: 0 0 120px rgba(255, 164, 45, 0.30);
  }
  100% {
    box-shadow: 0 0 90px rgba(255, 217, 0, 0.30);
  }
}

@keyframes alchemist-lighting {
  0% {
    box-shadow: 0 0 90px rgba(255, 217, 0, 0.30);
  }
  33% {
    box-shadow: 0 0 70px rgba(255, 187, 86, 0.30);
  }
  50% {
    box-shadow: 0 0 120px rgba(123, 255, 0, 0.26);
  }
  100% {
    box-shadow: 0 0 90px rgba(255, 217, 0, 0.30);
  }
}

@keyframes cauldron-lighting {
  0% {
    filter: hue-rotate(0deg) drop-shadow(0 0 5px #ff00ea);
  }
  33% {
    filter: hue-rotate(-20deg) drop-shadow(0 0 15px #971afd);
  }
  60% {
    filter: hue-rotate(0deg) drop-shadow(0 0 5px #ff00ea);
  }
  100% {
    filter: hue-rotate(90deg) drop-shadow(0 0 5px #ff00ea);
  }
}

@keyframes glow {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(1.5);
  }
  100% {
    filter: brightness(1);
  }
}

@keyframes ice-spell {
  5% {
    filter: contrast(1);
    transform: translate(0);
  }
  15% {
    filter: contrast(2) brightness(1);
    transform: translate(3px, 3px) rotate3d(1, 1, 0, 35deg);
  }
  25% {
    transform: translateX(-2px);
  }
  35% {
    filter: contrast(1);
    transform: translateX(2px);
  }
  40% {
    transform: translateX(-1px);
  }
  50% {
    transform: translateX(0);
  }
}

.item-container {
  position: absolute;
  z-index: 11;
  width: 289px;
  height: 254px;
  top: 278px;
  left: 372px;
}

.item-grid {
  width: 289px;
  height: 254px;
}

.item {
  width: 40px;
  height: 40px;
  /* border-radius: 4px; */
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  justify-content: space-around;
  font-size: 2em;
  background-color: transparent;
  position: absolute;
}

.type-selected {
  box-shadow: 0px 0px 15px #00ffff41;
  /* animation: glow 4s infinite; */
}

.type-1 {
  left: 52px;
  top: 4px;
}

.type-2 {
  left: 125px;
  top: 4px;
}

.type-3 {
  left: 198px;
  top: 4px;
}

.item-1 {
  top: 73px;
  left: 5px;
}

.item-2 {
  top: 73px;
  left: 85px;
}

.item-3 {
  top: 73px;
  left: 165px;
}

.item-4 {
  top: 73px;
  left: 245px;
}

.item-5 {
  top: 142px;
  left: 5px;
}

.item-6 {
  top: 142px;
  left: 85px;
}

.item-7 {
  top: 142px;
  left: 165px;
}

.item-8 {
  top: 142px;
  left: 245px;
}

.item-9 {
  top: 211px;
  left: 5px;
}

.item-10 {
  top: 211px;
  left: 85px;
}

.item-11 {
  top: 211px;
  left: 165px;
}

.item-12 {
  top: 211px;
  left: 245px;
}