button:focus {
  outline: 0;
}

button:disabled {
  filter: opacity(35%);
  
}

.ability-interface > button {
  border: none;
  /* box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.10); */
  border-radius: 4px;
  font-family: 'Patua One', 'Times New Roman', cursive;
  transition:all 0.3s ease;
}

.ability-interface > button:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  cursor: pointer;
}

.basic-attack {
  background: linear-gradient(135deg, rgb(255, 173, 21)	 0%, rgb(236, 77, 143) 100%);
  width: 50px;
  height: 50px;
  color: #ffebee;
}

.spells-interface {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  justify-items: center;  
}

.spells-interface > button, .basic-container > button, {
  border: none;
  border-radius: 75px;
  font-family: 'Patua One', 'Times New Roman', cursive;
  width: 50px;
  height: 50px;
  transition: all 0.1s ease;
}

.spells-interface > button:hover, .basic-container > button:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  cursor: pointer;
}

.equipment-interface > button {
  border: none;
  box-shadow:inset 0 -0.6em 5px -0.35em rgba(0,0,0,0.10);
  border-radius: 4px;
  font-family: 'Patua One', 'Times New Roman', cursive;
  width: 50px;
  height: 50px;
  transition:all 0.3s ease;
}

.equipment-interface > button:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  cursor: pointer;
}

 .achievement-interface > button {
  border: none;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.10);
  border-radius: 0px;
  font-family: 'Patua One', 'Times New Roman', cursive;
  width: 40px;
  height: 40px;
  transition:all 0.3s ease;
}

 .achievement-interface > button:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  cursor: pointer;
}

.spell {
  background-color: #42A5F5;
  font-size: 1em;
  padding-top: 0px;
  padding-bottom: 0px;
}

.spell-dragon-breath {
  background: rgb(152,14,153);
  background: linear-gradient(90deg, #BBDEFB 0%, #FFFFC7 100%);
}

.ra-dragon-breath {
  background-image: linear-gradient(90deg, rgb(253, 74, 29) 0%, rgba(252,176,69,1) 100%);  
  color:transparent; -webkit-background-clip: text;
  background-clip: text;
}

.spell-lightning-trio {
  background: rgb(80,24,167);
  background: linear-gradient(135deg, #EEAD92 10%, #6018DC 100%);
}

.ra-lightning-trio {
  background-image: linear-gradient(130deg, rgba(255,255,255,1) 0%, #FFEB3B 100%);  
  color:transparent; -webkit-background-clip: text;
  background-clip: text;
}

.spell-frostfire {
  background: rgb(80,24,167);
  background: linear-gradient(130deg, #FFF720 10%, rgb(134, 231, 96) 100%);
}

.ra-frostfire {
  background-image: linear-gradient(130deg, rgb(117, 72, 194) 0%, rgb(35, 152, 248) 100%);  
  color:transparent; -webkit-background-clip: text;
  background-clip: text;  
}

.spell-fire-shield {
  background: rgb(80,24,167);
  background: linear-gradient(130deg, #72EDF2 0%, #5151E5 100%); 
}

.ra-fire-shield {
  background-image: linear-gradient(130deg, #FAFAFA 0%, #BBDEFB 100%);  
  color:transparent; -webkit-background-clip: text;
  background-clip: text;    
}

.icon {
  font-size: 2em;
  margin-left: 1px;
}

.shop-icon {
  font-size: 3em;
}

.spell-archer {
  background: rgb(80,24,167);
  background: linear-gradient(135deg, #FFFF7E 0%, #00A8C5 100%);
}

.ra-archer {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ffffff 100%);
  color:transparent; -webkit-background-clip: text;
  background-clip: text;
}

.spell-arrow-flights {
  background: rgb(80,24,167);
  background: linear-gradient(315deg, #fff1eb 0%, #ace0f9 100%);
}

.ra-arrow-flights {
  background-image: linear-gradient(135deg, #F24645 20%, #EBC08D 100%);  
  color:transparent; -webkit-background-clip: text;
  background-clip: text;      
}

.spell-chemical-arrow {
  background: linear-gradient(130deg, rgb(240, 255, 223) 0%, rgb(71, 216, 185) 100%);   
}

.ra-chemical-arrow {
  background-image: linear-gradient(0deg, rgb(130, 71, 231) 0%, rgb(35, 152, 248) 100%);  
  color:transparent; -webkit-background-clip: text;
  background-clip: text;   
}

.spell-supersonic-arrow {
  background: linear-gradient(315deg, #35cee9 0%, #330867 100%);  
}

.ra-supersonic-arrow {
  background-image: linear-gradient(130deg, rgb(208, 0, 255) 0%, rgb(241, 218, 8) 100%); 
  color:transparent; -webkit-background-clip: text;
  background-clip: text;         
}

.ra-log {
  background-image: none;
  color: #2196F3;
}

.ra-log-m {
  background-image: none;
  color: #2196F3;
}